.landing-principal-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 88px; */
  background: url("../../Assets//background-landing-principal.svg");
  background-size: cover;
  /* background-color: red; */
}
.landing-principal-bloc-description-container {
  width: 44.77%;
  /* height: 40%; */
  height: 371px;
  /* margin-top: 10%; */
  /* background-color: yellowgreen; */
}
.landing-principal-bloc-description-title {
  font-size: 42px;
  width: 100%;
  max-height: 100px;
  height: 100%;
  display: flex;
  /* background-color: tomato; */
  position: relative;
}
.landing-principal-bloc-description-title-first-part {
  /* background-color: firebrick; */
  font-weight: 700;
}
.landing-principal-bloc-description-title-transaction {
  /* width: min-content; */
  /* display: flex; */
  background: var(
    --orange-gradient,
    linear-gradient(90deg, #ffd94a -27.11%, #f74545 53.98%, #95649d 128.58%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-family: Satoshi; */
  font-size: 42px;
  font-style: normal;
  /* font-weight: 700; */
  line-height: 50px;
  /* background-color: violet; */
  padding-left: 12px;
}
.landing-principal-bloc-description-text {
  margin-top: 33px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: seagreen; */
  /* font-size: 16px; */
}
.landing-principal-bloc-description-text p {
  font-size: 16px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
}
.landing-principal-bloc-description-socials {
  width: 50%;
  height: 24px;
  display: flex;
  /* background-color: silver; */
  margin-top: 26px;
  align-items: center;
  user-select: none;
}
.landing-principal-bloc-description-socials-title {
  margin-right: 17px;
  color: rgba(0, 0, 0, 0.6);
}
.landing-principal-bloc-description-socials img {
  cursor: pointer;
  padding: 2px;
}
.landing-principal-bloc-description-socials img:hover {
  /* background-color: #ffd94a; */
  background-color: rgba(231, 222, 217, 0.589);
  border-radius: 7px;
}
.landing-principal-bloc-cta-buttons-container {
  max-width: 262px;
  max-height: 38px;
  width: 100%;
  height: 100%;
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  /* background-color: hotpink; */
  user-select: none;
}
.landing-principal-bloc-cta-discover-button {
  width: 122px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: var(
    --orange-gradient,
    linear-gradient(90deg, #ffd94a -27.11%, #f74545 53.98%, #95649d 128.58%)
  );
}
.landing-principal-bloc-cta-discover-button p {
  color: #fff;
  font-family: "manrope-regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
/* .landing-principal-bloc-cta-whitepaper-button {
  width: 122px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid var(--orange-gradient, #ffd94a);
  background: #fff;
} */
.landing-principal-bloc-cta-whitepaper-button {
  width: 122px;
  height: 38px;
  border-radius: 4px;
  border: none;
  background: transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
/* before and after for making a border gradient because no possible natively with CSS */
.landing-principal-bloc-cta-whitepaper-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(45deg, #95649d, #ffd94a, #f74545);
  border-radius: 4px;
  z-index: 1;
}

.landing-principal-bloc-cta-whitepaper-button::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
}

.landing-principal-bloc-cta-whitepaper-button p {
  background: var(
    --orange-gradient,
    linear-gradient(90deg, #ffd94a -27.11%, #f74545 53.98%, #95649d 128.58%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  font-family: "manrope-regular";
  z-index: 4;
  position: relative;
}
.landing-principal-screenshot-explorer-container {
  /* margin-top: 8%; */
  width: 52%;
  display: flex;
  justify-content: center;
  /* background-color: chocolate; */
}
@media (max-width: 1230px) {
  .landing-principal-bloc-description-container {
    /* background-color: yellowgreen; */
  }
  .landing-principal-bloc-cta-buttons-container {
    margin-top: 25px;
  }
  .landing-principal-bloc-description-title {
    max-height: 130px;
  }
}
@media (max-width: 930px) {
  .landing-principal-bloc-description-title-first-part,
  .landing-principal-bloc-description-title-first-part span {
    font-size: 36px;
  }
  .landing-principal-bloc-description-text {
    justify-content: inherit;
  }
  .landing-principal-bloc-description-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .landing-principal-bloc-description-socials{
    margin-top: 0px;
  }
  .landing-principal-bloc-description-socials-title{
    font-size: 14px;
  }
  .landing-principal-screenshot-explorer-container img {
    width: calc(440px *0.8);
    /* height: calc(526px * 0.9); */
  }
}
@media (max-width:830px) {
  .landing-principal-container{
    flex-direction: column;
    justify-content: center;
  }
  .landing-principal-bloc-description-container{
    width: 100%;
  }
}