.features-presentation-container {
  min-height: 100vh;
  width: 100%;
  /* width: 100vw; */
  /* background-color: green; */
  padding-top: 88px;
}
.features-presentation-title-container {
  font-family: "satoshi-regular";
  color: #2a3b51;
  font-size: 38px;
  font-weight: 700;
  line-height: 42px;
}
.features-presentation-title-container > div:nth-child(2) {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 15px;
  font-family: "manrope-regular";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.features-presentation-concept-and-multi-lang-container {
  display: flex;
  margin-top: 48px;
  width: 100%;
  max-width: 1320px;
}
.features-presentation-concept-container {
  /* width: 824px; */
  width: 62.4242%;
  height: 276px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    90deg,
    rgba(255, 217, 74, 0.12) -27.11%,
    rgba(247, 69, 69, 0.12) 53.98%,
    rgba(149, 100, 157, 0.12) 128.58%
  );
  overflow: hidden;
}
.features-presentation-concept-title {
  margin-left: 32px;
  margin-top: 22px;
  font-size: 20.445px;
  font-weight: 700;
  line-height: 24.675px;
  font-family: "satoshi-regular";
  background: var(
    --orange-gradient,
    linear-gradient(90deg, #ffd94a -27.11%, #f74545 53.98%, #95649d 128.58%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features-presentation-concept-description {
  margin-left: 32px;
  margin-top: 12px;
  font-size: 11.28px;
  padding-right: 10px;
}
.features-presentation-concept-container img {
  margin-top: 57px;
}
.features-presentation-multi-lang-container {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 34.54%;
  height: 276px;
  margin-left: 40px;
}
.features-presentation-multi-lang-title {
  font-family: "satoshi-regular";
  font-size: 20.445px;
  font-weight: 700;
  line-height: 24.675px;
  margin-left: 32px;
  margin-top: 22px;
}
.features-presentation-multi-lang-description {
  margin-left: 32px;
  margin-top: 12px;
  font-size: 11.28px;
  padding-right: 10px;
}
.features-presentation-multi-lang-img-container {
  display: flex;
  margin-left: 32px;
  margin-top: 35px;
}
.features-presentation-follow-tx-and-blockhains-container {
  display: flex;
  margin-top: 48px;
  width: 100%;
  max-width: 1320px;
}
.features-presentation-follow-tx-container {
  width: 35.54%;
  height: 276px;
  /* overflow: hidden; */
  /* background-image: url("../../Assets/rectangle-follow-tx.svg"); */
  /* border: dashed 1px var(--orange-gradient, #ffd94a); */
  /* border-radius: 8px; */
  z-index: 2;
  position: relative;
}
.features-presentation-follow-tx-wrap {
  width: 100%;
  height: 100%;
  /* background-image: url("../../Assets/rectangle-follow-tx.svg");
  background-position: center;
  background-repeat: no-repeat;
   */
  position: absolute;
}
.features-presentation-follow-tx-image {
  position: absolute;
  /* top: 200px; */
}
.features-presentation-follow-tx-title {
  color: #2a3b51;

  font-family: "satoshi-regular";
  font-size: 20.445px;
  font-style: normal;
  font-weight: 700;
  line-height: 24.675px;
  margin-top: 22px;
  margin-left: 32px;
}
.features-presentation-follow-tx-logo-and-tx-container {
  width: 100%;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}
.features-presentation-follow-betterscan-orange-logo {
  display: flex;
  margin-left: 36px;
}
@media (max-width: 830px) {
  .features-presentation-concept-title,
  .features-presentation-concept-description,
  .features-presentation-multi-lang-title,
  .features-presentation-multi-lang-description,
  .features-presentation-multi-lang-img-container {
    margin-left: 24px;
  }
}
@media (max-width: 630px) {
  .features-presentation-concept-title,
  .features-presentation-multi-lang-title {
    font-size: 18px;
  }
}
@media (max-width: 530px) {
  .features-presentation-title-container {
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
  }
  .features-presentation-concept-container img {
    width: 520px;
    /* height: 80px; */
  }
  .features-presentation-concept-container {
    margin-bottom: 20px;
  }
  .features-presentation-concept-and-multi-lang-container {
    flex-direction: column;
    align-items: center;
  }
  .features-presentation-concept-container,
  .features-presentation-multi-lang-container {
    width: 80%;
    margin-left: 0px;
  }
}
