.partners-container {
  background-color: white;
  /* background-color: #f74545 ; */
  min-height: 30vh;
  /* min-width:120vw !important; */
  /* transform: translateX(-20vw) ; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 5% 20px;
  margin-top: 50px;
}
.partners-wrap {
  width: 100%;
  height: 90%;
  /* background-color: darkcyan; */
}
.partners-title-and-description-container {
  /* background-color: red; */
  color: #2a3b51;
  font-family: "satoshi-regular";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}
.partners-title-container span {
  background: var(
    --orange-gradient,
    linear-gradient(90deg, #ffd94a -27.11%, #f74545 53.98%, #95649d 128.58%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-family: Satoshi; */
  font-size: 42px;
  font-style: normal;
  /* font-weight: 700; */
  line-height: 50px;
  /* background-color: violet; */
  /* padding-left: 12px; */
}
.partners-description-container {
  color: rgba(0, 0, 0, 0.6);

  font-family: "manrope-regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 15px;
}
.partners-logo-corporations-partners {
  height: 90px;
  width: 100%;

  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners-logo-corporations-partners a {
}
.partners-logo-corporations-huge-letter {
  background-image: url("../../Assets/huge-letter-partner.svg");
  background-color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 50% 50%; */
  mix-blend-mode: luminosity;
  --width-original-partner-logo: 169px;
  --height-original-partner-logo: 70px;
  width: var(--width-original-partner-logo);
  height: var(--height-original-partner-logo);
}
.partners-logo-corporations-human-lab {
  background-image: url("../../Assets/human-lab-partner.svg");
  background-color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 50% 50%; */
  mix-blend-mode: luminosity;
  --width-original-partner-logo: 70px;
  --height-original-partner-logo: 70px;
  width: var(--width-original-partner-logo);
  height: var(--height-original-partner-logo);
}
.partners-logo-corporations-coinaute {
  background-image: url("../../Assets/coinaute-partner.svg");
  background-color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 50% 50%; */
  mix-blend-mode: luminosity;
  --width-original-partner-logo: 147px;
  --height-original-partner-logo: 70px;
  width: var(--width-original-partner-logo);
  height: var(--height-original-partner-logo);
}
.partners-logo-corporations-avicienne {
  background-image: url("../../Assets/avicienne-partner.svg");
  background-color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 50% 50%; */
  mix-blend-mode: luminosity;
  --width-original-partner-logo: 70px;
  --height-original-partner-logo: 70px;
  width: var(--width-original-partner-logo);
  height: var(--height-original-partner-logo);
}
.partners-logo-corporations-jwcorp {
  background-image: url("../../Assets/jwcorp-partner.svg");
  background-color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 50% 50%; */
  mix-blend-mode: luminosity;
  --width-original-partner-logo: 90px;
  --height-original-partner-logo: 90px;
  width: var(--width-original-partner-logo);
  height: var(--height-original-partner-logo);
}
.partners-logo-corporations-huge-letter:hover,
.partners-logo-corporations-human-lab:hover,
.partners-logo-corporations-coinaute:hover,
.partners-logo-corporations-avicienne:hover,
.partners-logo-corporations-jwcorp:hover {
  mix-blend-mode: normal;
  transition-duration: 400ms;
}
@media (max-width: 930px) {
  .partners-title-and-description-container,
  .partners-title-and-description-container span {
    font-size: 24px;
  }
  .partners-description-container {
    font-size: 12.28px;
  }
  .partners-logo-corporations-huge-letter,
  .partners-logo-corporations-human-lab,
  .partners-logo-corporations-coinaute,
  .partners-logo-corporations-avicienne,
  .partners-logo-corporations-jwcorp {
    width: calc(var(--width-original-partner-logo) * 0.8);
    height: calc(var(--height-original-partner-logo) * 0.8);
  }
}
@media (max-width: 730px) {
  .partners-logo-corporations-huge-letter,
  .partners-logo-corporations-human-lab,
  .partners-logo-corporations-coinaute,
  .partners-logo-corporations-avicienne,
  .partners-logo-corporations-jwcorp {
    width: calc(var(--width-original-partner-logo) * 0.6);
    height: calc(var(--height-original-partner-logo) * 0.6);
  }
}
@media (max-width: 530px) {
  .partners-logo-corporations-huge-letter,
  .partners-logo-corporations-human-lab,
  .partners-logo-corporations-coinaute,
  .partners-logo-corporations-avicienne,
  .partners-logo-corporations-jwcorp {
    width: calc(var(--width-original-partner-logo) * 0.5);
    height: calc(var(--height-original-partner-logo) * 0.5);
  }
}
