.landing-page-container {
  display: flex;
  justify-content: center;
  /* width: 98vw; */
  /* max-width: 98vw; */
  /* width: 96vw; */
  font-family: "satoshi-regular";
  /* background-color: rgb(228, 194, 194); */
}
.landing-page-wrap {
  /* max-width: 88.8888889%; */
  max-width: 1280px;
  width: 100%;
  /* overflow: hidden !important; */
  /* border: solid 1px red; */
  /* background-color: blueviolet; */
  overflow: hidden;
}
.error-message-display-to-small {
  display: none;
}
@media (max-width: 330px) {
  .landing-page-container {
    display: none;
  }
  .error-message-display-to-small {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 24px;
    position: relative;
  }
  .error-message-display-to-small::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./Assets/betterScanLogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50vw;
    opacity: 0.2;
    z-index: -1;
  }
}
@media (max-width: 1400px) {
  .landing-page-wrap {
    width: 95%;
  }
}
@media (max-width: 830px) {
  /* .landing-page-container {
    width: 94vw;
  } */
}
